.nav {
    list-style: none;
    padding: 0;
    .nav-element {
        display: flex;
        align-items: center;
        margin-bottom: 48px;
        cursor: pointer;
        .nav-element-link {
            font-size: 18px;
            margin-left: 16px;
        }
        .nav-element-link_status_active {
            color: #1859FF;
        }
    }
    .nav-element-logo_status_active {
        filter: invert(32%) sepia(60%) saturate(7138%) hue-rotate(222deg) brightness(103%) contrast(103%);
    }
}