.brief_block {
  padding: 60px 100px;
  background: linear-gradient(134.17deg, #EFF2F8 4.98%, #F3F5F8 17.62%, #FCFCFC 94.88%);
  box-shadow: -10px -10px 20px rgba(255, 255, 255, 0.8), 7px 7px 14px rgba(144, 165, 194, 0.65);
  border-radius: 10px;
  .notification {
    margin-bottom: 32px;
    p {
      font-size: 12px;
      line-height: 16.8px;
    }
    .close {
      margin: 0;
    }
  }
  .wrapper {
    margin-bottom: 50px;
    span {
      font-size: 18px;
      line-height: 24.3px;
      &:first-of-type {
        font-size: 20px;
        line-break: 26.4px;
      }
    }
    .image_wrapper {
      display: flex;
      .image {
        display: flex;
        flex-direction: column;
        // &:first-of-type {
        //   margin-right: 40px;
        // }
        img {
          margin-bottom: 8px;
        }
      }
      margin-bottom: 26px;
    }
  }
  .buttons {
    display: flex;
    justify-content: space-between;
    margin: 0;
    button {
      margin: 20px 0 0 0;
      min-width: 214px;
    }
  }
}