footer {
  padding: 39px 0 29px 0;
  .wrapper {
    margin: 0 132px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    img {
      max-width: 164px;
    }
    nav {
      margin-right: 240px;
      a {
        text-transform: capitalize;
      }
      :not(:last-of-type) {
        margin-right: 24px;
      }
    }
    .refs {
      display: flex;
      align-items: center;
      img {
        max-width: 24px;
      }
      :last-of-type {
        max-width: 30px;
      }
      :not(:last-of-type) {
        margin-right: 14px;
      }
    }
  }
}