.nav {
    list-style: none;
    padding: 0;
    min-width: 251px;
    .nav-element {
        display: flex;
        align-items: center;
        margin-bottom: 48px;
        &.active {
            svg path {
                fill: #1859FF;
            }
            svg rect {
                stroke:  #1859FF;
            }
            a {
                color: #1859FF;
            }
        }
        cursor: pointer;
        .nav-element-link {
            font-size: 18px;
            margin-left: 16px;
        }
    }
}