footer
  .wrapper
    .logo
      img(src="./pic/Logo.png", alt="")
      p &#169; 2020
    nav
      a сотрудничество
      a контакты
      a документы
    .refs
      img(src="./pic/facebook.png", alt="")
      img(src="./pic/instagram.png", alt="")
      img(src="./pic/telegram.png", alt="")
      img(src="./pic/youtube.png", alt="")