.cards  
  .card
    .text-wrapper
        h3 Текущий проект
        .info
            p i
        .hovered_block
            p тут будут отражены все обновления по текущему проекту: Заказ № {{Номер}}
    h4 Бриф заполнен и отправлен
    p 2 мая, 12:08
    p Спасибо, что отправили бриф, он направлен на проверку, после того.. 
        a
    button.blue заполнить бриф
  .card
    img(src="./pic/docs_logo.png", alt="")
    h3 дополнительные услуги
    p возможно они вас заинтересуют
    button посмотреть
  .card
    img(src="./pic/profile_logo.png", alt="")
    h3 информация о профиле
    p.last добавьте дополнительную инфформацию, подпишитесь на рассылку
    button заполнить