footer
  .wrapper
    .logo
      img(src="./pic/Logo.png", alt="")
      p &#169; 2020
    nav
      a(href="#", target="_blank") сотрудничество
      a(href="#", target="_blank") контакты
      a(href="#", target="_blank") документы
    ul.refs
      li
        a(href="#", target="_blank")
          img(src="./pic/facebook.png", alt="")
      li
        a(href="#", target="_blank")
          img(src="./pic/instagram.png", alt="")
      li
        a(href="#", target="_blank")
          img(src="./pic/telegram.png", alt="")
      li
        a(href="#", target="_blank")
          img(src="./pic/youtube.png", alt="")