footer
  .wrapper
    .logo
      a(href="index.html")
        img(src="./pic/Logo.png", alt="")
      p &#169; 2020
    ul
      li
        a(href="#", target="_blank") Сотрудничество
      li
        a(href="#", target="_blank") Контакты
      li
        a(href="#", target="_blank") Документы
    ul.refs
      li
        a(href="#", target="_blank")
          img(src="./pic/facebook.png", alt="")
      li
        a(href="#", target="_blank")
          img(src="./pic/instagram.png", alt="")
      li
        a(href="#", target="_blank")
          img(src="./pic/telegram.png", alt="")
      li
        a(href="#", target="_blank")
          img(src="./pic/youtube.png", alt="")