.cards  
  .card
    img(src="./pic/card_logo_1.png", alt="")
    h3 Начать проект
    p Это просто, заполни бриф и отправь на рассмотрение
    button.blue заполнить бриф
  .card
    img(src="./pic/docs_logo.png", alt="")
    h3 дополнительные услуги
    p возможно они вас заинтересуют
    button посмотреть
  .card
    img(src="./pic/profile_logo.png", alt="")
    h3 информация о профиле
    p.last добавьте дополнительную инфформацию, подпишитесь на рассылку
    button заполнить